
body {
    margin: 0;
    background-color: wheat;
}

main {
    margin: auto;
}

#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: black;
    font-style: italic;
}

#connections-form {
    display: block;
    background-color: aqua;
    margin: 0 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
}
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
}

input {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    width: 50%;
    border: 2px solid yellow;
    border-radius: 10px;
    opacity: 85%;
}

input:hover {
    opacity: 70%;
}

.save-btn {
    display: inline-block;
    background-color: yellow;
    margin: 15px auto;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.save-btn:hover {
    opacity: 70%;
}