
body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

main {
    margin: 0 auto;
}

#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: navy;
    font-style: italic;
}

#connections-form {
    display: block;
    background-color: slateblue;
    margin: 0 10px 20px 10px;
    padding: 45px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
}
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
}

input {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    width: 60%;
    border: 2px solid yellow;
    border-radius: 10px;
    opacity: 85%;
}

input:hover {
    opacity: 70%;
}

.btn {
    display: inline-block;
    margin: 5px auto;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    opacity: 70%;
}

.save-btn {
    background-color: yellow;
    color: slateblue;
}

.save-btn:hover,
.save-btn:focus {
    background-color: #fff;
    color: slateblue;
}

.remove-btn {
    background-color: slateblue;
    color: yellow;
    display: none;
}

.remove-btn:hover,
.remove-btn:focus {
    background-color: yellow;
    color: slateblue;
}

.connections-list {
    list-style-type: none;
    background: greenyellow;
}

li {
    border-bottom: 1px solid whitesmoke;
}

li:last-child {
    border: none;
}

