
body {
    margin: 0;
    background-color: wheat;
}

main {
    background-color: aqua;
}

#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: black;
    font-style: italic;
}

#connections-form {
    display: block;
    margin: auto;
    text-align: center;
}
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
}

input {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    width: 50%;
    border: 2px solid yellow;
    border-radius: 10px;
    opacity: 85%;
}

input:hover {
    opacity: 70%;
}

.save-btn {
    background-color: yellow;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.save-btn:hover {
    opacity: 70%;
}